

*{

    font-size: 16px;

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;


}

body{

    background-color: aliceblue;

}


h1{

    font-size: 300%;

}

h2{

    font-size: 200%;
}

header{

    display: flex;

    justify-content: space-between;

    list-style: none;

    color: black;

    align-items: center;

}

header section{

    align-items: center;

    display: flex;

    justify-content: space-between;

    min-width: 450px;

}

header section h1{

    padding-left: 20px;
    
    font-size: 400%;

}

header section img {

    height: 150px;

    width: auto;

}

header ul {

    font-size: 300%;

    display: flex;

    justify-content: space-between;

    min-width: 300px;

}

nav a {

    color: black;

    font-weight: bold;

    text-decoration: none;

  }

  body div {

    position: relative;

    margin-bottom: 25px;

  }


  body div h2 {

    position: absolute;

    right: 10%;

    bottom: 20px;

  }

.banner{
    height: 150px;

    width: 100%;

    background-image: url("../images/Banner.jpg");

    background-size: cover;

    background-position: center;

}

summary {

    margin: 50px;

    display: flex;

    flex-direction: column;

    padding-bottom: 20px;

}

summary section {

    display: flex;

    padding: 80px;

}

summary section h1{

    flex: 1;

    border-right: solid black ;

}

summary section article{

    padding-left: 10px;

    flex: 4;

}

summary section article div a {

    position: relative;

    background-image: url("../images/Placeholder.jpg");

    background-size:cover;

    background-position: center;

    filter: grayscale(50%)blur(2px);

    border: solid black 5px;

}

summary section article div a:hover {

    filter: grayscale(0%)blur(0px);

    transition: .4s;

}

summary section article div{

    display: flex;

    flex-wrap: wrap;

    justify-content: space-between;

}

.main_button{

    width: 100%;

    height: 700px;

}
.main_button h1{

    border: solid black;

    background-image: url("../images/Banner.jpg");

    font-size: 350%;

    position: absolute;

    left: 0px;

    bottom: 10px;

}


.sub_button_1{

    width: 50%;

    height: 300px;

}

.sub_button_1 h1{

    border: solid black;

    background-image: url("../images/Banner.jpg");

    font-size: 150%;

    position: absolute;

    left: 0px;

    bottom: 10px;

}

.sub_button_2{

    width: 50%;

    height: 300px;

}


.sub_button_2 h1{

    border: solid black;

    background-image: url("../images/Banner.jpg");

    font-size: 150%;

    position: absolute;

    left: 0px;

    bottom: 10px;

}

.sub_button_3{

    width: 50%;

    height: 300px;

}

.sub_button_3 h1{

    border: solid black;

    background-image: url("../images/Banner.jpg");

    font-size: 150%;

    position: absolute;

    left: 0px;

    bottom: 10px;

}

.sub_button_4{

    width: 50%;

    height: 300px;

}

.sub_button_4 h1{

    border: solid black;

    background-image: url("../images/Banner.jpg");

    font-size: 150%;

    position: absolute;

    left: 0px;

    bottom: 10px;

}

summary section article ul{

    display: flex;

    justify-content: space-between;

    min-width: 300px;

}
summary section article a {

    color: black;

    font-weight: bold;

    text-decoration: none;

    font-size: 150%;

  }



  /*

 need to implement media