/* universal selector 

font size  sets font to 16px

font family sets the font to the first one the search engine recognises 

*/

*{

    font-size: 16px;

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;


}

/* universal selector 

    background-color sets the color of all elemnts in the body to aliceblue

*/

body{

    background-color: aliceblue;

}

/* element selector 

    h1 and h2 are similar

    font-size sets the size of the font

*/

h1{

    font-size: 300%;

}

h2{

    font-size: 200%;
}

/* element selector 

    selects the header element and stylises it and the content in it

*/

header{

    display: flex;

    justify-content: space-between;

    list-style: none;

    color: black;

    align-items: center;

}

/* element selector 

    selects the section in the header element and then stylises it and the content in it

*/

header section{

    align-items: center;

    display: flex;

    justify-content: space-between;

    min-width: 450px;

}

/* element selector 

    selects  the h1 element in the section in the header element and then stylises it

*/

header section h1{

    padding-left: 20px;
    
    font-size: 400%;

}

/* element selector 

    selects the h1 element in the section in the header element and then stylises it

*/

header section img {

    height: 150px;

    width: auto;

}

/* element selector 

    selects the ul element in the header element and then stylises it

*/

header ul {

    font-size: 300%;

    display: flex;

    justify-content: space-between;

    min-width: 300px;

}

/* element selector 

    selects the a element in the nav parent and then stylises it

*/

nav a {

    color: black;

    font-weight: bold;

    text-decoration: none;

  }

  /* element selector 

    selects the div section in the body parent and then stylises it

*/

  body div {

    position: relative;

    margin-bottom: 25px;

  }

  /* element selector 

    selects h2 element in the div section in the body parent and then stylises it

*/


  body div h2 {

    position: absolute;

    right: 10%;

    bottom: 20px;

  }

   /* class selector 

    anything that has the banner class is styleised

*/

.banner{
    height: 150px;

    width: 100%;

    background-image: url("../images/Banner.jpg");

    background-size: cover;

    background-position: center;

}

   /* element selector 

    anything that is in the summery section is styleised

*/


summary {

    margin: 50px;

    display: flex;

    flex-direction: column;

    padding-bottom: 20px;

}

  /* element selector 

    anything in the section that is in the summery section is styleised

*/

summary section {

    display: flex;

    padding: 80px;

}

  /* element selector 

    the h1 element in the section that is in the summery section is styleised

*/

summary section h1{

    flex: 1;

    border-right: solid black ;

}


  /* element selector 

    anything in the article section in the section that is in the summery section is styleised

*/

summary section article{

    padding-left: 10px;

    flex: 4;

}

  /* element selector 

    the a element in the div in the article section in the section that is in the summery section is styleised

*/

summary section article div a {

    position: relative;

    filter: grayscale(50%)blur(2px);

    border: solid black 5px;

}

  /* element selector 

    the a element when the curser is hoveing over it in the div in the article section in the section that is in the summery section is styleised

*/

summary section article div a:hover {

    filter: grayscale(0%)blur(0px);

    transition: .4s;

}

  /* element selector 

    anything in the div in the article section in the section that is in the summery section is styleised

*/

summary section article div{

    display: flex;

    flex-wrap: wrap;

    justify-content: space-between;

}

 /* class selector 

    anything with the main button class is styleised 

*/

.main_button{
    
    background-image: url("../images/readMe.PNG");

    background-size:cover;

    background-position: center;

    width: 100%;

    height: 700px;

}

 /* element selector 

    the h1 element in a section with the main button class is styleised 

*/

.main_button h1{

    border: solid black;

    background-image: url("../images/Banner.jpg");

    font-size: 350%;

    position: absolute;

    left: 0px;

    bottom: 10px;

}

 /* class selector 

    anything with the sub button 1 class is styleised 

*/


.sub_button_1{
    
    background-image: url("../images/Movie.PNG");

    background-size:cover;

    background-position: center;

    width: 50%;

    height: 300px;

}

 /* element selector 

    the h1 element in a section with the sub button 1 class is styleised 

*/

.sub_button_1 h1{

    border: solid black;

    background-image: url("../images/Banner.jpg");

    font-size: 150%;

    position: absolute;

    left: 0px;

    bottom: 10px;

}

 /* class selector 

    anything with the sub button 2 class is styleised 

*/


.sub_button_2{
    
    background-image: url("../images/EmployeePNG.PNG");

    background-size:cover;

    background-position: center;

    width: 50%;

    height: 300px;

}

 /* element selector 

    the h1 element in a section with the sub button 2 class is styleised 

*/

.sub_button_2 h1{

    border: solid black;

    background-image: url("../images/Banner.jpg");

    font-size: 150%;

    position: absolute;

    left: 0px;

    bottom: 10px;

}

 /* class selector 

    anything with the sub button 3 class is styleised 

*/


.sub_button_3{
    
    background-image: url("../images/Socail.PNG");

    background-size:cover;

    background-position: center;

    width: 50%;

    height: 300px;

}

 /* element selector 

    the h1 element in a section with the sub button 3 class is styleised 

*/

.sub_button_3 h1{

    border: solid black;

    background-image: url("../images/Banner.jpg");

    font-size: 150%;

    position: absolute;

    left: 0px;

    bottom: 10px;

}

 /* class selector 

    anything with the sub button 4 class is styleised 

*/


.sub_button_4{
    
    background-image: url("../images/Placeholder.jpg");

    background-size:cover;

    background-position: center;

    width: 50%;

    height: 300px;

}

 /* element selector 

    the h1 element in a section with the sub button 4 class is styleised 

*/

.sub_button_4 h1{

    border: solid black;

    background-image: url("../images/Banner.jpg");

    font-size: 150%;

    position: absolute;

    left: 0px;

    bottom: 10px;

}

 /* element selector 

    the ul section in the article section in the section of the summery is styleised

*/


summary section article ul{

    display: flex;

    justify-content: space-between;

    min-width: 300px;

}

 /* element selector 

    the a element in the article section in the section of the summery is styleised

*/

summary section article a {

    color: black;

    font-weight: bold;

    text-decoration: none;

    font-size: 150%;

  }

   /* media screen is used to change the style of the web page after the max px is less than 1225*/

  @media screen and (max-width: 1225px) {

   /*Element selector 
   all p elements are stleised
   */

    p{
        font-size: 150%;
    }
    
    /*Element selector 
   the h1 element in the section of the summary is styleised 
   */

    summary section h1{

        flex: unset;

        border-right: unset;

        width: 100%;

        text-align: center;

        border-bottom:  solid black;

    }

    /*Element selector 
   anything in the article section in section of the summary is styleised 
   */

    summary section article{

        padding-left: unset;
    
        flex: unset;

        padding-top: 10px;

        

    
    }
   
    /*Element selector 
   anythinging section of the summary is styleised 
   */

    summary section {

        flex-direction: column;

        align-items: center;
    
    } 

    /*Element selector 
   the a element in the div section of the article selection of section of the summary is styleised 
   */

    summary section article div a {

        position: relative;
    
        background-size:cover;
    
        background-position: center;
    
        filter: grayscale(50%)blur(2px);
    
        border: solid black 5px;
    
    }

    /*Element selector 
   the a element when hovered over in the div section of the article selection of section of the summary is styleised 
   */

    summary section article div a:hover {
    
        filter: grayscale(0%)blur(0px);
    
        transition: .4s;
    
    }

    /*Element selector 
   anything in the div section of the article selection of section of the summary is styleised 
   */

    summary section article div{

        align-items: center;
    
        display: flex;
    
        flex-direction: row;

    
    }
    
     /* class selector 

    anything with the main button class is styleised 

    */

    .main_button{
        
        width: 80vw;

        height: 700px;
    
    }
    
    /* element selector 

    the h1 element in a section with the main button class is styleised 

    */

    .main_button h1{
    
        border: solid black;
    
        background-image: url("../images/Banner.jpg");
    
        font-size: 350%;
    
        position: absolute;
    
        left: 0px;
    
        bottom: 10px;
    
    }
    
     /* class selector 

    anything with the sub button 1 class is styleised 

    */

    .sub_button_1{

        width: 50%;
    
        height: 300px;
    
    }

    /* element selector 

    the h1 element in a section with the sub button 1 class is styleised 

    */
    
    .sub_button_1 h1{
    
        border: solid black;
    
        background-image: url("../images/Banner.jpg");
    
        font-size: 150%;
    
        position: absolute;
    
        left: 0px;
    
        bottom: 10px;
    
    }

     /* class selector 

    anything with the sub button 2 class is styleised 

    */
    
    .sub_button_2{
    
        width: 50%;
    
        height: 300px;
    
    }
    
     /* element selector 

    the h1 element in a section with the sub button 2 class is styleised 

    */
    
    .sub_button_2 h1{
    
        border: solid black;
    
        background-image: url("../images/Banner.jpg");
    
        font-size: 150%;
    
        position: absolute;
    
        left: 0px;
    
        bottom: 10px;
    
    }

     /* class selector 

    anything with the sub button 3 class is styleised 

    */
    
    .sub_button_3{
    
        width: 50%;
    
        height: 300px;
    
    }

     /* element selector 

    the h1 element in a section with the sub button 3 class is styleised 

    */
    
    .sub_button_3 h1{
    
        border: solid black;
    
        background-image: url("../images/Banner.jpg");
    
        font-size: 150%;
    
        position: absolute;
    
        left: 0px;
    
        bottom: 10px;
    
    }

     /* class selector 

    anything with the sub button 4 class is styleised 

    */
    
    .sub_button_4{
    
        width: 50%;
    
        height: 300px;
    
    }
    
    /* element selector 

    the h1 element in a section with the sub button 4 class is styleised 

    */

    .sub_button_4 h1{
    
        border: solid black;
    
        background-image: url("../images/Banner.jpg");
    
        font-size: 150%;
    
        position: absolute;
    
        left: 0px;
    
        bottom: 10px;
    
    }

    /* element selector 

    the ul section in the article section in the section of the summery is styleised

    */

    summary section article ul {

        display: flex; 
        
        align-items: center;

        flex-direction: column;

       
    }

     /* element selector 

    the li element the ul section in the article section in the section of the summery is styleised

    */

    summary section article ul li {

       padding: 10px;

    }

 }