*{
    
    font-size: 16px;

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    

}

body{

    background-color: aliceblue;
    
}


h1{

    font-size: 300%;

}

h2{

    font-size: 200%;
}

header{

    display: flex;

    justify-content: space-between;

    list-style: none;

    background-color: orangered;

    color: black;

    align-items: center;

}

header section{

    align-items: center;

    display: flex;
    
    justify-content: space-between;

    min-width: 450px;

}

header section h1{

    font-size: 300%;

}

header section img {

    height: 100px;

    width: auto;

}

header ul {

    display: flex;

    justify-content: space-between;

    min-width: 300px;

}

nav a {

    color: black;

    font-weight: bold;

    text-decoration: none;

  }

  body div {

    position: relative;

    margin-bottom: 25px;

  }


  body div h2 {

    position: absolute;
    
    right: 10%;

    bottom: 20px;

  }

.banner{
    height: 100px;

    width: 100%;

    background-image: url("../images/Placeholder.jpg");

    background-size: cover;

    background-position: center;

}

summary {

    margin: 50px;

    display: flex;

    flex-direction: column;

    padding-bottom: 20px;

}

summary section {

    display: flex;

    padding: 80px;

}

summary section h1{

    flex: 1;

    border-right: solid black ;

}

summary section article{

    padding-left: 10px;

    flex: 4;

}

summary section article img {

    border: solid black;

    filter: grayscale(50%)blur(2px);

    padding: 10px;

}

summary section article img:hover {

    filter: grayscale(0%)blur(0px);

    transition: .4s;

}

summary section article div{

    display: flex;

    flex-wrap: wrap;

    justify-content: space-between;

}

.main_img{

    width: 100%;

}

.sub_imgs{

    width: 50%;

}



summary section article ul{

    display: flex;

    justify-content: space-between;

    min-width: 300px;

}
summary section article a {

    color: black;

    font-weight: bold;

    text-decoration: none;

    font-size: 150%;

  }



  /*

  ask about media for phone

  ask about imgs namely to cover the placeholder

  ask about cool subject here